@import "./master.css";

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(../img/co-learning.jpeg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.info {
  background-color: #fafafa;
  width: 25%;
  height: 100vh;
  padding: 3%;
  text-align: center;
  flex-wrap: wrap;
}

.imagen {
  width: 75%;
  height: 100vh;
  padding-top: 3%;
  padding-left: 5%;
}

.dh{
  width: 65%;
  height: 33%;
  display: block;
}

.subTitulo {
  font-size: 2.5em;
  padding-left: 3%;
  padding-bottom: 1%;
  color: #D0103A;
}

.colearning {
  background-color: #fafafa;
  width: 45.5%;
}

.primeraInfo {
  font-size: 1em;
  color: #fafafa;
  width: 65%;
  padding: 1%;
  background-color: rgba(127, 127, 127, 0.4);
}

footer {
  background-color: black;
  width: 100%;
  clear: none;
  text-align: center;
  padding: 1em;
}

.redes {
  padding: 1em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.icons:hover {
  border-color: #D0103A;
}

.icons {
  width: 2em;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.nuestrasRedes {
  color: #D0103A;
}

.opcionesfooter {
  color: black;
  text-decoration: none;
}

.noPunto {
  list-style-type: none;
}

.fAQ {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.registro {
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  justify-content: center;
}

.entrar {
  background-color: #281e49;
  width: 70%;
  padding: 3%;
  color: #fafafa;
  border: none;
}

.columnas {
  box-sizing: border-box;
  width: 30%;
  margin-top: 2%;
  text-align: justify;
}

.colorHr {
  background-color: rgba(238, 162, 154);
}

.colorParrafo {
  padding: 5%;
  background-color: rgba(127, 127, 127, 0.1);
}
