@import "./logIn.css";
@import "./registro.css";
@import "./footer.css";

* {
  font-family: 'Montserrat', sans-serif;
}

/*CLASES GENERALES DE JUAN----------------------------------------------------*/
.botonJuan {
  background-color: #281e49;
  color: #fafafa;
  border: none;
}
.fondoJuan {
  height: 100vh;
  background-image: url(../img/co-learning.jpeg);
  background-size: cover;
}
/*CLASES GENERALES DE JUAN----------------------------------------------------*/
