@import "./logIn.css";
@import "./registro.css";
@import "./footer.css";
@import "./header.css";
@import "./profile.css";
@import "./misAmigos.css";
@import "./header2.css";
@import "./editarPost.css";



* {
  font-family: 'Montserrat', sans-serif;

}

/*CLASES GENERALES DE JUAN----------------------------------------------------*/
.fondo{
background-color: rgb(255, 0, 0);
}
.botonJuan {
  background-color: #281e49;
  color: #fafafa;
  border: none;
}
.fondoJuan {
  /*height: 100vh;*/
  background-image: url(../img/co-learning.jpeg);
  background-size: cover;
}

.perfilInicio{
  height: 25%;
}
/*CLASES GENERALES DE JUAN----------------------------------------------------*/
